body {
  background-color: black;
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-style: italic;
}

.app-footer {
  text-align: center;
  font-style: italic;
  margin: 30px 0;
}
